workflow_n8n_api-kpi.json.json
{
  "name": "workflow_n8n_api-kpi.json",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -576,
        -16
      ],
      "id": "5fc0199a-15ef-4d53-ba49-3ccac6b1163e",
      "name": "Schedule Trigger",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude=45.07&longitude=-93.45&hourly=temperature_2m&past_days=1&temperature_unit=fahrenheit",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        -16
      ],
      "id": "24cd4bc3-2487-4677-86e5-2a17ef664a6f",
      "name": "Get Meteo.com",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0234094c-4361-4747-8b03-fa5a3f34a966",
              "leftValue": "=={{$json.statusCode}} >= 200",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "a829b321-b82a-4c2c-ba69-6611b8109de1",
              "leftValue": "=={{$json.statusCode}} < 300",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "715f0cce-4907-44fb-8d8e-c4a9dc975f50",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        -16
      ],
      "id": "a60647df-80bb-44cb-bd14-dbfb6faa114e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vnXP4GNJoADrJ6LUg53rBOnkXZBYwoCjUncN07als1U",
          "mode": "list",
          "cachedResultName": "kpi_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vnXP4GNJoADrJ6LUg53rBOnkXZBYwoCjUncN07als1U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 840330499,
          "mode": "list",
          "cachedResultName": "kpi_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vnXP4GNJoADrJ6LUg53rBOnkXZBYwoCjUncN07als1U/edit#gid=840330499"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kpi_name",
              "displayName": "kpi_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kpi_value",
              "displayName": "kpi_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sample_size",
              "displayName": "sample_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -112
      ],
      "id": "40f115a8-5918-4f5c-9c0a-8309f23ae8eb",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2GTaDUJDw3n58aqY",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "388b932e-388c-40fe-a3ae-12fe0d5ebda2",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "745183b1-5faf-494a-945d-82524ee0b6bd",
              "name": "run_id",
              "value": "={{ String(Date.now()) }}",
              "type": "string"
            },
            {
              "id": "4525f50c-f292-4969-9e1b-5b82962beaa1",
              "name": "source",
              "value": "open-meteo",
              "type": "string"
            },
            {
              "id": "011a695f-1086-44c3-8899-98174777477c",
              "name": "kpi_name",
              "value": "avg_temp_24h",
              "type": "string"
            },
            {
              "id": "a21edd88-fa62-4af1-9904-49afb3dfe5b2",
              "name": "kpi_value",
              "value": "={{    (() => {     const t = $json.body?.hourly?.temperature_2m || [];     return t.length ? t.reduce((a,b)=>a+b,0)/t.length : null;   })() }}",
              "type": "number"
            },
            {
              "id": "78f4b369-70d2-4694-add2-64a403468bf4",
              "name": "sample_size",
              "value": "={{ ($json.body?.hourly?.temperature_2m || []).length }}",
              "type": "number"
            },
            {
              "id": "74c09b38-8d1c-4293-8010-9d19e929282c",
              "name": "=status",
              "value": "={{ $json.statusMessage }}",
              "type": "string"
            },
            {
              "id": "af4f221d-132f-4507-927c-85463f230433",
              "name": "=error",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -112
      ],
      "id": "73e6606f-6e49-4e0c-ae5c-05cb9866e7a0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8feefe53-6545-4f4d-afef-2e0756c4b173",
              "name": "=timestamp",
              "value": "={{ $('Schedule Trigger').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "cb3d9b4c-83a1-42a2-a850-5787690b95a4",
              "name": "=run_id",
              "value": "={{ String(Date.now()) }}",
              "type": "string"
            },
            {
              "id": "a9615f58-cd13-4ce0-b2bc-9cbdae46c780",
              "name": "source",
              "value": "open-meteo",
              "type": "string"
            },
            {
              "id": "26f99844-328d-4432-9ba7-c7de60557848",
              "name": "kpi_name",
              "value": "avg_temp_24h",
              "type": "string"
            },
            {
              "id": "f23a5a75-65e9-4b87-91d0-bbce694724a0",
              "name": "kpi_value",
              "value": "",
              "type": "string"
            },
            {
              "id": "6b33faaa-df4a-401b-a086-85152a34d9b8",
              "name": "sample_size",
              "value": "0",
              "type": "string"
            },
            {
              "id": "daf5e611-f647-4173-86b0-9fcdcfbc0a0e",
              "name": "=status",
              "value": "={{ $json.statusCode ?? 'no_status' }}",
              "type": "string"
            },
            {
              "id": "210f8468-fc11-42c9-a393-4d3b6b344591",
              "name": "=error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        80
      ],
      "id": "21e44353-fef1-4955-8b36-06697f6574c2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vnXP4GNJoADrJ6LUg53rBOnkXZBYwoCjUncN07als1U",
          "mode": "list",
          "cachedResultName": "kpi_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vnXP4GNJoADrJ6LUg53rBOnkXZBYwoCjUncN07als1U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 840330499,
          "mode": "list",
          "cachedResultName": "kpi_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vnXP4GNJoADrJ6LUg53rBOnkXZBYwoCjUncN07als1U/edit#gid=840330499"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kpi_name",
              "displayName": "kpi_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kpi_value",
              "displayName": "kpi_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sample_size",
              "displayName": "sample_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        80
      ],
      "id": "d946eeba-9e95-4105-a7d2-032b8ac1c6fb",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2GTaDUJDw3n58aqY",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"backgroundColor\": \"white\",\n  \"width\": 800,\n  \"height\": 400,\n  \"format\": \"png\",\n  \"chart\": {\n    \"type\": \"bar\",\n    \"data\": {\n      \"labels\": [\"Avg Temp (24h)\"],\n      \"datasets\": [{ \"label\": \"°F\", \"data\": [ {{ $json.kpi_value }} ] }]\n    },\n    \"options\": {\n      \"plugins\": { \"title\": { \"display\": true, \"text\": \"Avg Temp (24h)\" } },\n      \"scales\": { \"y\": { \"beginAtZero\": true } }\n    }\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        -112
      ],
      "id": "b9c20f86-07ec-4ab9-8506-177cadbd3bcc",
      "name": "chart"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Meteo.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meteo.com": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4597d3f7-8adc-4bc0-8007-e722ba67f908",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1dfcdd22466a9c775c71d3fa89d9e5137a0319cdd80e800b4f7027374e4e4fb9"
  },
  "id": "BbYtlOdFpM6d97DA",
  "tags": []
}